@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@font-face {
  font-family: "IBM Plex Sans";
  src: url("./font/IBMPlexSans-Regular.ttf") format ("truetype");
}
*/

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  html {
    font-family: "Roboto", sans-serif;
  }

  body {
    @apply text-carbon-text-primary;
    @apply text-sm;
    @apply bg-bg-main-00;
  }
  h2 {
    @apply text-xl;
  }
  h4 {
    @apply text-sm;
    @apply font-bold;
    @apply text-text-01;
  }
  label {
    @apply text-xs;
    @apply text-text-01;
  }
}
