@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "IBM Plex Sans";
  src: url("./font/IBMPlexSans-Regular.ttf") format ("truetype");
}

@layer base {
  html {
    font-family: IBM Plex Sans;
  }

  body {
    @apply max-w-[1234px];
    @apply mx-auto;
    @apply bg-carbon-bg;
    @apply text-carbon-text-primary;
    @apply text-sm;
  }
  h2 {
    @apply text-xl;
  }
}
